<YieldTemplateComponent @editStyle="markdown-style" @postData={{this.model}} as |post|>
  <p class="author">by {{this.model.author}}</p>
  {{post.body bodyStyle="compact-style"}}
</YieldTemplateComponent>